/* Light style color theme */

/* Light theme color scheme  defination*/


.card {
  --card-bg-color: rgb(24 24 39/15%);
}
.emphasised {
  --bg-color: hsl(239deg 58% 60%);
  --text-color: #fff;
}

/* Dark theme styles */

body.dark-theme {
  --text-color: #fff;
  --bg-color: #10101c;
}

body.dark-theme section.pricing .card {
  --text-color: #fff;
  --card-bg-color: rgb(24 24 39);
}

body.dark-theme section.pricing .card.emphasised {
  --text-color: #fff;
  --bg-color: #242586;
}

@media (prefers-color-scheme: dark) {
  body {
    --text-color: #fff;
    --bg-color: #10101c;
  }

  body > section.pricing > .card {
    --card-bg-color: rgb(24 24 39);
  }

  body.light-theme {
    --text-color: #181927;
    --body-bg-color: #fff;
  }
}

body {
  font-family: "Inter", sans-serif;
  background: var(--body-color);
  color: var(--bg-color);
}

/*  */

/* General gloabal elemnt style  */
h1 {
  font-size: 26px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

span.pricing {
text-align: center;  flex-direction: column;
  align-items: center;
  height: 60vh;
  justify-content: center;
  background: var(--bg-color);
  color: var(--text-color);
}

.span-title-group {
  text-align: center;
  width: auto;
  max-width: 420px;
  padding-bottom: 46px;
}

h2.span-title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.05%;
}
p.span-sub-title {
  opacity: 0.8;
}

.deals-card-group {
  display: flex;
  gap: 20px;
  padding: 24px;
  margin-left: 225px;
}

.card {
  width: 180px;
  background: var(--card-bg-color);
  color: var(--text-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: relative;
  text-align: center;

}

/* .emphasised {
  background: var(--em-bg-color);
} */

.emphasised {
  background: var(--bg-color);
  color: var(--text-color);
}

.highlight:before {
  content: "Best price";
  display: flex;
  height: 24px;
  width: fit-content;
  background: #a0e0b2;
  color: #10101c;
  padding: 2px 16px;
  border-radius: 16px;
  align-items: center;
  position: absolute;
  margin: 0 auto;
  top: -12px;
  left: 25%;
}

h3.card-title {
  font-size: 18px;
  max-width: 80%;
  line-height: 24px;
  margin-bottom: 24px;
  padding: 8px;
  flex: 1;
}

p.price-tag {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  padding: 8px;
  flex: 2;
}

.price-tag span {
  font-size: 12px;
  display: block;
  opacity: 0.6;
}

.card-footer {
  margin-top: 8px;
  display: flex;
  width: 100%;
  flex: 1;
  align-items: flex-end;
}

.card-footer a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  opacity: 0.6;
  display: flex;
  height: 24px;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-radius: 4px;
}

a.link-button:after {
  content: "";
  height: 24px;
  width: 24px;
  background: url(https://raw.githubusercontent.com/rahulkuulsingh/ui-components/main/assets/arrow-right.svg);
  filter: invert(1);
}

a.link-button:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.1);
}