<mat-toolbar div div fxLayout="row" fxLayoutAlign="space-between center" color="#0078d7">

  <button style="width: 200px;" mat-raised-button color="warn" (click)="NavigateStart()">
    <mat-icon class="mr-1">home</mat-icon>
    Home
  </button>
  <h1>
    StepsWise Tracking Tool
  </h1>


  <div fxHide.lt-sm>
    Welcome!
  </div>

</mat-toolbar>


<mat-card  fxLayout="row" fxLayoutAlign="space-around center">
  <h2 *ngIf="this.memberUserCheck.membershipType !==undefined"  >membershipType:{{this.memberUserCheck.membershipType}}
  </h2>
  <h2 *ngIf="this.memberUserCheck.membershipEnd !==undefined"  >membershipEnd:{{this.memberUserCheck.membershipEnd}}
  </h2>
  </mat-card>
<div class="cPanelContainer">

  <!--  Header  -->
  <div class="cPanelHeader">
    <h3>Steps Wise</h3>
    <h5>Instructions</h5>
  </div>

  <!--  Content  -->
  <div class="cPanelContent">

    <!--  Section 01  -->
    <div class="cPanelSection">
      <div class="cPanelArrowPulse"></div>
      <h5>Section 01</h5>
      <p>  Log out user can view all Tasks </p>
    </div>

    <!--  Section 02  -->
    <div class="cPanelSection">
      <div class="cPanelArrowPulse"></div>
      <h5>Section 02</h5>
      <p>Member User Can Create Unlimited Tasks</p>
    </div>

    <!--  Section 03  -->
    <div class="cPanelSection">
      <h5>Section 03</h5>
      <p> Demo User Can Create Only One Task</p>
    </div>


</div>

<!--  Footer  -->
<div class="cPanelFooter">
  <google-pay-button
    environment="TEST"
    buttonType="buy"
    buttonColor="black"
    [paymentRequest]="paymentRequest"
    (loadpaymentdata)="onLoadPaymentData($event)"
    (error)="onError($event)"
    [paymentAuthorizedCallback]="onPaymentDataAuthorized"
  >
  </google-pay-button>
  <button mat-raised-button color="accent" (click)="NewMember()">Become Member</button>

</div>
