<mat-toolbar div div fxLayout="row" fxLayoutAlign="space-between center" color="#0078d7">

  <button style="width: 200px;" mat-raised-button color="warn" (click)="NavigateStart()">
    <mat-icon class="mr-1">home</mat-icon>
    Home
  </button>
  <h1>
    StepsWise Tracking Tool
  </h1>


  <div fxHide.lt-sm>
    Welcome!
  </div>

</mat-toolbar>


<mat-card  fxLayout="row" fxLayoutAlign="space-around center">
  <h2  >membershipType:{{this.memberUserCheck?.membershipType}}
  </h2>
  <h2 >membershipEnd:{{this.memberUserCheck?.membershipEnd}}
  </h2>
  </mat-card>
<div class="cPanelContainer">

<!-- Pre styled web component desgined purely in html and css.     -->

<span class="pricing">
  <div class="section-title-group">
    <h2 class="section-title">Explore current top deals</h2>
    <p class="section-sub-title">
     Convert your Work into Tasks
    </p>
  </div>
  <div class="deals-card-group">
    <div class="card emphasised">
      <h3 class="card-title">Public Tasks Access</h3>
      <p class="price-tag">
        $0.0
        <span></span>
      </p>
      <div class="card-footer">
        <a href="#" class="link-button"></a>
      </div>
    </div>
    <div class="card highlight">
      <h3 class="card-title">Create Demo Task</h3>
      <p class="price-tag">
        $0/month
        <span>instead of $10/month</span>
      </p>
      <div class="card-footer">
        <a href="#" class="link-button"></a>
      </div>
    </div>
    <div class="card">
      <h3 class="card-title">UnLimitted Tasks</h3>
      <p class="price-tag">
        $20/yr
        <span>instead of $50/yr</span>
      </p>
      <div class="card-footer">
        <a href="#" class="link-button">Get offer</a>
      </div>
    </div>
  </div>
<!--   <button class="btn-toggle">Toggle Dark-Mode</button> -->
</span>
  <google-pay-button
    environment="TEST"
    buttonType="buy"
    buttonColor="black"
    [paymentRequest]="paymentRequest"
    (loadpaymentdata)="onLoadPaymentData($event)"
    (error)="onError($event)"
    [paymentAuthorizedCallback]="onPaymentDataAuthorized"
  >
  </google-pay-button>
  <button mat-raised-button color="accent" (click)="NewMember()">Become Member</button>


