<mat-toolbar color="primary">
    Birthday App
    <span fxFlex="grow">

    </span>
    <button mat-raised-button color="warn" (click)="NavigateBack()"> PublicPrivateProjects Screen </button>
</mat-toolbar>
<div fxLayout="column" style="padding:5%;" fxLayoutGap="5%" >
    <div fxLayoutAlign="space-around center">
  
      <mat-card fxFlex="20vw">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Name</mat-card-title>
          <mat-card-subtitle>Location</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Grand father
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>B'day</button>
          <button mat-button>Anniversary</button>
        </mat-card-actions>
      </mat-card>
  
  
      <mat-card fxFlex="20vw">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Name</mat-card-title>
          <mat-card-subtitle>Kandy, SriLanka</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Grand Mother
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>B'day</button>
          <button mat-button>Anniversary</button>
        </mat-card-actions>
      </mat-card>
  
      <mat-card fxFlex="20vw">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Mr.Namasivayam</mat-card-title>
          <mat-card-subtitle>Vallam, TamilNadu, India</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Grand father
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>B'day</button>
          <button mat-button>Anniversary</button>
        </mat-card-actions>
      </mat-card>
  
  
      <mat-card fxFlex="20vw">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Mrs.Grace</mat-card-title>
          <mat-card-subtitle>Vallam, TamilNadu, India</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Grand Mother
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>B'day</button>
          <button mat-button>Anniversary</button>
        </mat-card-actions>
      </mat-card>
    </div>
  
    <div fxLayoutAlign="space-around center">
      <mat-card fxFlex="20vw">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Mr.Godwin</mat-card-title>
          <mat-card-subtitle>Kandy, SriLanka</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Father
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>B'day</button>
          <button mat-button>Anniversary</button>
        </mat-card-actions>
      </mat-card>
  
  
      <mat-card fxFlex="20vw">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Mrs.Rajam</mat-card-title>
          <mat-card-subtitle>Vallam, TamilNadu, India</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Mother
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>B'day</button>
          <button mat-button>Anniversary</button>
        </mat-card-actions>
      </mat-card>
  
    </div>
  
    <div fxLayoutAlign="space-around center">
      <mat-card fxFlex="20vw">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Mr.Manoj</mat-card-title>
          <mat-card-subtitle>Vallam, TamilNadu,India</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Myself
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>B'day</button>
          <button mat-button>Anniversary</button>
        </mat-card-actions>
      </mat-card>
  
      <mat-card fxFlex="20vw">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Ms.Dhivya</mat-card-title>
          <mat-card-subtitle>Nagercoil, TamilNadu, India</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Sister
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>B'day</button>
          <button mat-button>Anniversary</button>
        </mat-card-actions>
      </mat-card>
  
      <mat-card fxFlex="20vw">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Mr.Vinoj</mat-card-title>
          <mat-card-subtitle>Nagercoil, TamilNadu, India</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Brother
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>B'day</button>
          <button mat-button>Anniversary</button>
        </mat-card-actions>
      </mat-card>
    </div>
  
  </div>