<mat-sidenav-container fxFlex="100vw">
  <mat-sidenav-content fxLayout="column">
    <mat-toolbar color="primary">
      <mat-icon style="margin-right:20px;" *ngIf="!drawer.opened" (click)="drawer.toggle()">
        menu
      </mat-icon>
      <button style="width: 200px;" mat-raised-button color="warn" (click)="NavigateStart()">
        <mat-icon class="mr-1">home</mat-icon>
        Home
      </button>
      <h1>
        StepsWise Tracking Tool
      </h1>

      <span fxFlex="grow"></span>

      <div fxHide.lt-sm>
        Welcome {{myuserProfile.userAuthenObj?.displayName}}!
      </div>

    </mat-toolbar>
    <div class="container-wrapper">
      <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxFlex="20vw" fxFlex.lt-sm="60vw" Style="padding-bottom:10vh;" fxLayoutGap="10px">
          <h4>{{myuserProfile.myusrinfoFromDb?.projectName}}</h4>
          <mat-form-field appearance="fill" *ngIf="(mainSubSections) as SectionsReady;">
            <mat-label>{{myprojectVariables?.initialMainSection}}</mat-label>
            <mat-select (openedChange)="loadTc($event)" [formControl]="myprojectControls?.subsectionkeysControl">
              <mat-optgroup *ngFor="let group of SectionsReady" [label]="group.name" [disabled]="group.disabled">
                <mat-option *ngFor="let mysection of group.section"
                  [value]="{value: mysection.viewvalue, groupValue: group.name}">
                  {{mysection.viewvalue}}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex="60vw" fxFlex.lt-sm="80vw" Style="padding-bottom:50px;">

          <h1 *ngIf="myprojectVariables.viewSelectedTestcase === undefined ">Task Steps</h1>
          <h1 *ngIf="myprojectVariables.viewSelectedTestcase !== undefined">
            {{myprojectVariables.viewSelectedTestcase?.heading}} </h1>
          <mat-form-field appearance="fill">
            <mat-label>{{myprojectVariables.viewSelectedTestcase?.subHeading}}</mat-label>
            <mat-label *ngIf="myprojectVariables.viewSelectedTestcase === undefined" style="font-size: 24px;">
              Select Task Now!
            </mat-label>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="15" cdkAutosizeMaxRows="50" fxFlex="grow"
              style="overflow-x: hidden;" [formControl]="myprojectControls?.testcaseInfoControl" readonly>

              </textarea>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="column" *ngIf="(SectionTc |async ) as SectionTcReady; else SectionTcnotReady">
        <h2>Services and Directives</h2>
      <mat-card class="list"  fxFlex="95vw" fxFlex="15vh" fxLayout="row wrap" fxLayout.lt-sm="column"
        fxLayoutAlign="space-around center">
        <app-singletask ngStyle.lt-sm="width:60vw;" fxLayoutAlign.lt-sm="space-between center"
          fxLayoutAlign="space-between center" fxLayoutGap="10px" *ngFor="let task of SectionTcReady " [task]="task"
          (toshow)="refreshList($event)"></app-singletask>
      </mat-card>
    </div>
    <ng-template #SectionTcnotReady>
      <div *ngIf="(SectionTc | async) === undefined">
        <mat-card class="list" style="max-width:95vw;" fxLayout="row wrap" fxLayout.lt-sm="column"
          fxLayoutAlign="space-around center">
          <p class="empty-label">
            Empty list</p>
        </mat-card>
      </div>
    </ng-template>
    </div>
  </mat-sidenav-content>
  <mat-sidenav #drawer class="drawer" mode="side" opened="false" (opened)="draweropen()" fxFlex.lt-sm="100vw">
    <mat-toolbar class="header" color="warn">
      <div>Task keys Management</div>
      <span fxFlex="grow"></span>

      <mat-icon style="margin-right:20px;" class="close" (click)="drawerclose()">close</mat-icon>
    </mat-toolbar>
    <div class="card">
      <div class="img-div"
      style="background-image: url(https://images3.alphacoders.com/113/1131150.png);">

      </div>

      <div class="content-div">
        <div class="title-div">
          <h2 class="title">STEPS WISE</h2>
        </div>
        <div class="desc-div">
          <p class="desc-text">
            Please Login For Managing Your Tasks
            1.You can Create Main Section
            2.you can Create Sub Section
            3.You can Create Test Cases under all SubSection


          </p>
        </div>
        <div class="watch-more-div">
          <button class="watch-more" #tooltip="matTooltip" matTooltip=" Please Login for Create New Task">Task
            now</button>
        </div>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>