.header {
    font-size: 20px;
    height: 50px;
    width: 50px;
    color: rgba(175, 50, 50, 0.65);
    font-weight: lighter;
    margin-top: 0px;
    margin-left: 10px;
  }
  




  .symbols li a :hover {
    background-color: #FF5722;
    transition: background-color 0.5s ease-out;
    list-style: none;

  }
  .symbols li{
    list-style: none;
    display: inline;


  }


  .symbols li a img,
  .symbols li a svg {
    width: 20px;

    height: 20px;
    width: 20px;
    padding: 10px;
    text-align: center;
    margin-top: 15px;
    background-color:white;
    -webkit-border-radius: 50%;
    border-radius: 50%;


  }

  
.newTask {
	position: absolute;
	display: inline-block;
	padding: 5px 5px;
	margin-left: 225px;
	color: #031bf4;
  font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.5s;
	letter-spacing: 4px;
	overflow: hidden;
	margin-right: 0px;
  cursor: pointer;
}
.newTask:hover {
	background: #03e9f4;
	color: #050801;
	box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
		0 0 200px #03e9f4;
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.newTask:nth-child(1) {
	filter: hue-rotate(270deg);
}
.newTask:nth-child(2) {
	filter: hue-rotate(110deg);
}
.newTask span {
	position: absolute;
	display: block;
}
.newTask span:nth-child(1) {
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, #031bf4);
	animation: animate1 1s linear infinite;
}
@keyframes animate1 {
	0% {
		left: -100%;
	}
	50%,
	100% {
		left: 100%;
	}
}
.newTask span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, #031bf4);
	animation: animate2 1s linear infinite;
	animation-delay: 0.25s;
}
@keyframes animate2 {
	0% {
		top: -100%;
	}
	50%,
	100% {
		top: 100%;
	}
}
.newTask span:nth-child(3) {
	bottom: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #031bf4);
	animation: animate3 1s linear infinite;
	animation-delay: 0.5s;
}
@keyframes animate3 {
	0% {
		right: -100%;
	}
	50%,
	100% {
		right: 100%;
	}
}

.newTask span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg, transparent, #031bf4);
	animation: animate4 1s linear infinite;
	animation-delay: 0.75s;
}
@keyframes animate4 {
	0% {
		bottom: -100%;
	}
	50%,
	100% {
		bottom: 100%;
	}
}

p {
  font-family: Lato;
}
@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.navigation {
  width:120px;
  background-color:#bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
}

img {
  width: 30px;
  padding: 5px;
  border-radius: 50px;
  float: left;
  text-align:center;

}

.logout {
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
	position: relative;
  margin-left: 10px;
  right: 0px;
  text-align: center;
  background-color: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  
}

.button {
	text-decoration: none;
	float: right;
  cursor: pointer;
  padding: 7px 7px 5px 5px;
  margin:0px;
  color: rgb(184, 33, 33);
  width: 40px;
  background-color:#bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

a:hover {
  width: 120px;
}

a:hover .logout{
  opacity: .9;
}

a {
  text-decoration: none;
}

