.header {
    height: 50px;
    width: 50px;

  }
  




  .symbols li a :hover {
    background-color: #FF5722;
    transition: background-color 0.5s ease-out;
    list-style: none;

  }
  .symbols li{
    list-style: none;
    display: inline;


  }


  .symbols li a img,
  .symbols li a svg {
    width: 20px;

    height: 20px;
    width: 20px;
    padding: 10px;
    text-align: center;
    margin-top: 5px;
    background-color:white;
    -webkit-border-radius: 50%;
    border-radius: 50%;


  }



p {
  font-family: Lato;
}
@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.navigation {
  width:120px;
  background-color:#bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
}

img {
  width: 30px;
  padding: 5px;
  border-radius: 50px;
  float: left;
  text-align:center;

}

.logout {
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
	position: relative;
  margin-left: 10px;
  right: 0px;
  text-align: center;
  background-color: #bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  
}

.button {
	text-decoration: none;
	float: right;
  cursor: pointer;
  padding: 7px 7px 5px 5px;
  margin:0px;
  color: rgb(184, 33, 33);
  width: 40px;
  background-color:#bddbfa linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden
}

a:hover {
  width: 120px;
}

a:hover .logout{
  opacity: .9;
}

a {
  text-decoration: none;
}

