<mat-grid-list cols="10" rowHeight="10vh">
    <mat-grid-tile colspan="2" rowspan='10' style="  margin-top: 0px; background:#F2F3F5; position: fixed; ">
        <div *ngIf="profileRef | async as profiledetails ; else noprofile" fxLayout="column"
            fxLayoutAlign="space-between center">

            <div style="height:40%;" class="person">
                <div id="main-card">
                    <div class="cover-photo">

                    </div>
                    <div class="photo">
                        <img src="{{profiledetails?.photoUrl}}" alt="">
                    </div>
                    <div class="content">
                        <h2 class="name">{{profiledetails?.profileName}}</h2>
                        <h3 class="card__text">{{profiledetails?.areaOfinterest}}<br> {{profiledetails?.location}}</h3>
                        <h3 class="email">
                            <a href="mailto:{{profiledetails?.email}}">{{profiledetails?.email}}</a>
                        </h3>


                    </div>

                </div>

            </div>
            <div class="">
                <h2>{{profiledetails?.membershipType}}</h2>
            </div>
            <ul class="card__info">
                <li>
                    <span class="card__info__stats">{{profiledetails?.numberOfProjects}}</span>
                    <span>posts</span>
                </li>
                <li>
                    <span class="card__info__stats">47</span>
                    <span>followers</span>
                </li>
                <li>
                    <span class="card__info__stats">20</span>
                    <span>following</span>
                </li>
            </ul>
            <button mat-raised-button color="primary" (click)="openBottomSheet()"
                [disabled]="authDetails?.uid === null">Edit</button>
            <br>
            <mat-card style="  background: #F2F3F5;">
                <mat-card-header>
                    <mat-card-title>StepsWise</mat-card-title>
                    <mat-card-subtitle> Start Tasking
                        <pre class="case1 " appShowmore>
                            Instructions:Demo User can Create Projects for One Month free. 
                        </pre>
                    </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <h2>
                        Convert your work into tasks
                    </h2>
                </mat-card-content>
            </mat-card>
        </div>
        <ng-template #noprofile>
            <mat-spinner>

            </mat-spinner>
        </ng-template>
    </mat-grid-tile>
    <mat-grid-tile colspan="8" rowspan='1' [style.background]="'rgb(104, 175, 238'">
        <div fxLayout fxLayoutGap="150px">
            <div class="SignInbutton" fxFlexAlign="center">
                <h2>StepsWise</h2>
            </div>


            <span>
                <ul class="profile-social-links">

                    <li>
                        <a href="www.google.com/">
                            <svg viewBox="0 0 24 24">
                                <path fill="#000000"
                                    d="M19.404,6.65l-5.998-5.996c-0.292-0.292-0.765-0.292-1.056,0l-2.22,2.22l-8.311,8.313l-0.003,0.001v0.003l-0.161,0.161c-0.114,0.112-0.187,0.258-0.21,0.417l-1.059,7.051c-0.035,0.233,0.044,0.47,0.21,0.639c0.143,0.14,0.333,0.219,0.528,0.219c0.038,0,0.073-0.003,0.111-0.009l7.054-1.055c0.158-0.025,0.306-0.098,0.417-0.211l8.478-8.476l2.22-2.22C19.695,7.414,19.695,6.941,19.404,6.65z M8.341,16.656l-0.989-0.99l7.258-7.258l0.989,0.99L8.341,16.656z M2.332,15.919l0.411-2.748l4.143,4.143l-2.748,0.41L2.332,15.919z M13.554,7.351L6.296,14.61l-0.849-0.848l7.259-7.258l0.423,0.424L13.554,7.351zM10.658,4.457l0.992,0.99l-7.259,7.258L3.4,11.715L10.658,4.457z M16.656,8.342l-1.517-1.517V6.823h-0.003l-0.951-0.951l-2.471-2.471l1.164-1.164l4.942,4.94L16.656,8.342z" />
                            </svg>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.facebook.com/v1ctory">
                            <svg viewBox="0 0 24 24">
                                <path fill="#3b5998"
                                    d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="http://themeforest.net/user/Victory-Design">
                            <svg viewBox="0 0 24 24">
                                <path fill="#82B541"
                                    d="M18.258,3.266c-0.693,0.405-1.46,0.698-2.277,0.857c-0.653-0.686-1.586-1.115-2.618-1.115c-1.98,0-3.586,1.581-3.586,3.53c0,0.276,0.031,0.545,0.092,0.805C6.888,7.195,4.245,5.79,2.476,3.654C2.167,4.176,1.99,4.781,1.99,5.429c0,1.224,0.633,2.305,1.596,2.938C2.999,8.349,2.445,8.19,1.961,7.925C1.96,7.94,1.96,7.954,1.96,7.97c0,1.71,1.237,3.138,2.877,3.462c-0.301,0.08-0.617,0.123-0.945,0.123c-0.23,0-0.456-0.021-0.674-0.062c0.456,1.402,1.781,2.422,3.35,2.451c-1.228,0.947-2.773,1.512-4.454,1.512c-0.291,0-0.575-0.016-0.855-0.049c1.588,1,3.473,1.586,5.498,1.586c6.598,0,10.205-5.379,10.205-10.045c0-0.153-0.003-0.305-0.01-0.456c0.7-0.499,1.308-1.12,1.789-1.827c-0.644,0.28-1.334,0.469-2.06,0.555C17.422,4.782,17.99,4.091,18.258,3.266" />
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="http://themeforest.net/user/Victory-Design">
                            <fa-icon (click)="logout()" class="fas faSignOutAlt fa-lg" [icon]="['fas', 'sign-in-alt']">
                            </fa-icon>
                        </a>
                    </li>

                </ul>


            </span>

            <div fxFlexAlign="center">

                <firebase-ui>
                    fxLayout="column" (signInSuccessWithAuthResult)="successCallback($event)"
                    (signInFailure)="errorCallback($event)" (uiShown)="uiShownCallback()"></firebase-ui>
            </div>
        </div>


    </mat-grid-tile>



    <mat-grid-tile colspan="8" rowspan='18' style="background: rgb(104, 175, 238) ; position: relative; ">

        <mat-tab-group fxLayout="column" style="background: rgb(104, 175, 238); margin-top: -350px; width:70%">
            <mat-tab style="color:#216fdb; margin-top: 0px;">
                <ng-template mat-tab-label>Public</ng-template>
                <ng-template matTabContent>

                    <div fxLayout="column" *ngIf="(obs| async) as projectDetails; else waitingload ">
                        <mat-accordion style="position:relative;">
                            <div style="margin-bottom: 3%">
                                <form>
                                    <mat-form-field>

                                        <input class="search" type="text" placeholder="Enter Task Name" matInput
                                            [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                                            [matAutocomplete]="auto">
                                        <button mat-button *ngIf="emailFormControl.value !== ''" matSuffix
                                            mat-icon-button aria-label="Clear" (click)="emailFormControl.reset()">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                        <mat-hint>Search for Public Tasks!</mat-hint>

                                        <mat-autocomplete #auto="matAutocomplete" color="#216fdb">
                                            <mat-option *ngFor="let option of optionsTasks" [value]="option">
                                                {{option}}
                                            </mat-option>
                                        </mat-autocomplete>
                                        <mat-error
                                            *ngIf="emailFormControl.hasError('text') && !emailFormControl.hasError('required')">
                                            Please enter a valid Task Name
                                        </mat-error>
                                        <mat-error *ngIf="emailFormControl.hasError('required')">
                                            Task Name is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </form>
                            </div>
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            <mat-expansion-panel fxLayout="column wrap" fxLayoutGap="30px"
                                style=" padding: 20px 10px;min-width:50%; background: #F2F3F5"
                                *ngFor="let details of projectDetails" (closed)="Expansionclose()">
                                <mat-expansion-panel-header
                                    style="box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3); min-width:50%; ">
                                    <mat-panel-title fxLayoutGap="30px" fxFlex="grow" (click)="profileKeyRef(details)" >

                                        {{details.projectName}}
                                        {{details.description}}
                                        By: {{details.profileName}}
                                        Created : {{details.creationDate.toDate() | date:'dd-mm-yyyy'}}

                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <div fxFlexAlign="center" fxLayout="center center">
                                            <div fxLayout="column" style=" border-style:unset !important;">
                                                <span mat-card-avatar
                                                    [ngStyle]="{'background-image': 'url(' + details.photoUrl + ')', 'background-size': 'cover' }"></span>
                                            </div>
                                        </div>

                                    </mat-panel-description>
                                </mat-expansion-panel-header>

{{userselectedProject}}
                                <app-nested-tree class="mattree"
                                    *ngIf="userselectedProject !== undefined && details.projectName === userselectedProject "
                                    fxLayout="column" [Sections]="keyRef" [latestProject]="userselectedProject">
                                </app-nested-tree>



                            </mat-expansion-panel>
                        </mat-accordion>

                    </div>

                    <ng-template #waitingload>
                        <mat-spinner>

                        </mat-spinner>
                    </ng-template>

                </ng-template>

            </mat-tab>
            <mat-tab class="header" style="color:#216fdb ;" *ngIf="this.authDetails!==null">
                <ng-template mat-tab-label>Private</ng-template>
                <ng-template matTabContent>
                    Please Login For Add Private Projects
                </ng-template>
            </mat-tab>

        </mat-tab-group>



    </mat-grid-tile>







</mat-grid-list>