<mat-sidenav-container class="example-container">
    <mat-sidenav fxShow="true" fxHide.lt-md   #sidenav mode="side" opened class="example-sidenav" [fixedInViewport]="options.value.fixed"
        [fixedTopGap]="options.value.top" [fixedBottomGap]="options.value.bottom" >

        <div fxLayout="column" fxLayoutAlign="space-between center">

            <div fxLayout="column" fxFlexAlign="start" fxLayoutGap="5%" fxLayoutAlign="space-between center">
                <div class="card">
                    <div class="img-div"
                        style="background-image: url(https://images3.alphacoders.com/113/1131150.png);">
                    </div>

                    <div class="content-div">
                        <div class="title-div">
                            <h2 class="title">STEPS WISE</h2>
                        </div>
                        <div class="desc-div">
                            <p class="desc-text">
                                Taskwise helps you create, manage and share tasks and deliverables with your
                                co-workers
                                and employees, keeping your business focused on what matters most.
                            </p>
                        </div>
                        <div class="watch-more-div">
                            <button class="watch-more" #tooltip="matTooltip"
                                matTooltip=" Please Login for Create New Task">Task now</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="case1 " appShowmore fxFlex="nogrow" fxFlexOffset="5%">
                Select the public Tasks to view the Steps. <br>
                Login to view/edit the private Tasks and keys.
                Create New Tasks. Share Tasks to the community.

            </div>
            <div>
                <h2 style=" margin-left: 10px;font-size: 15px;">
                    Convert your work into tasks
                </h2>
            </div>


            <div fxFlexOffset="5px">
                <img class="imageHeader"
                    src="https://st4.depositphotos.com/13324256/22740/i/600/depositphotos_227404530-stock-photo-cropped-view-woman-writing-word.jpg">
            </div>

        </div>


    </mat-sidenav>

    <mat-sidenav-content [formGroup]="options">
        <app-toolbar class="example-header"></app-toolbar>


        <mat-grid-list cols="10" rowHeight="10vh" style="background: white">




            <mat-grid-tile  colspan="6" rowspan='9' style="background:rgb(242, 243, 245);" fxFlex.lt-sm="100vw">


                <mat-tab-group style="  color:tomato ;background: rgb(242, 243, 245); height: 100%;margin-left: 15px; margin-right: 15px; " fxFlex="grow">
                    <mat-tab label="Tab 1" style="color:#216fdb; ">
                        <ng-template mat-tab-label>Public</ng-template>
                        <ng-template matTabContent>

                            <div *ngIf="(obs| async) as projectDetails; else waitingload ">
                                <mat-accordion fxLayout="column">

                                    <mat-paginator [length]="100" style="width:100%; background-color:rgb(242, 243, 245) ;" [pageSize]="5"
                                        [pageSizeOptions]="[5,10,15,20]">
                                    </mat-paginator>
                                    <mat-expansion-panel (click)="sidenav.toggle(false)" fxLayoutGap="10px"
                                        class="panel" *ngFor="let details of projectDetails"
                                        (closed)="Expansionclose()">
                                        <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight"
                                            (click)="profileKeyRef(details)" style="width:90%; ">
                                            <mat-panel-title fxLayout="row" fxFlexAlign="center" fxLayoutGap="30px">

                                                <div fxLayout="row">
                                                    <span mat-card-avatar
                                                        [ngStyle]="{'background-image': 'url(' + details.photoUrl + ')', 'background-size': 'cover' }"></span>

                                                </div>

                                                <button class="activebutton">
                                                    <mat-icon mat-list-avatar style="width:auto ;">dashboard</mat-icon>

                                                    {{details.projectName}}
                                                </button>



                                            </mat-panel-title>
                                            <mat-panel-description>

                                                {{details.creationDate.toDate() | date:'dd-MM-yyyy'}}




                                            </mat-panel-description>

                                        </mat-expansion-panel-header>

                                        {{details.description}}





                                        <app-nested-tree class="mattree" [userselectedProjectUid]="userselectedProjectUid"
                                            *ngIf="userselectedProject !== undefined && details.projectName === userselectedProject "
                                            fxLayout="column" [Sections]="keyRef" [latestProject]="userselectedProject">
                                        </app-nested-tree>


                                    </mat-expansion-panel>

                                </mat-accordion>

                            </div>


                            <ng-template #waitingload>
                                <mat-spinner>

                                </mat-spinner>
                            </ng-template>

                        </ng-template>


                    </mat-tab>
                    <mat-tab label="Tab 2" class="header" style="color:#216fdb ;" *ngIf="this.authDetails!==null">
                        <ng-template mat-tab-label>Private</ng-template>
                        <ng-template matTabContent>
                          <div fxLayout="column" *ngIf="(privateList| async) as projectDetails; else waitingload ">
                              <!--   <mat-accordion style="position:relative;">
                                    <mat-paginator [pageSizeOptions]="[3,6,9,12]"></mat-paginator>
                                    <mat-expansion-panel fxLayout="column wrap" fxLayoutGap="30px"
                                        style=" padding: 20px 10px;min-width:50%; background: #F2F3F5"
                                        *ngFor="let details of projectDetails" (closed)="Expansionclose()">
                                        <mat-expansion-panel-header
                                            style="box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3); min-width:50%; ">
                                            <mat-panel-title fxLayoutGap="30px" fxFlex="grow"
                                                (click)="profileKeyRef(details)">

                                                {{details.projectName}}
                                                {{details.description}}
                                                By: {{details.profileName}}
                                                Created : {{details.creationDate.toDate() | date:'dd-mm-yyyy'}}

                                            </mat-panel-title>
                                            <mat-panel-description>
                                                <div fxFlexAlign="center" fxLayout="center center">
                                                    <div fxLayout="column" style=" border-style:unset !important;">
                                                        <span mat-card-avatar
                                                            [ngStyle]="{'background-image': 'url(' + details.photoUrl + ')', 'background-size': 'cover' }"></span>
                                                    </div>
                                                </div>

                                            </mat-panel-description>
                                        </mat-expansion-panel-header>

                                        {{userselectedProject}}
                                        <app-nested-tree class="mattree"
                                            *ngIf="userselectedProject !== undefined && details.projectName === userselectedProject "
                                            fxLayout="column" [Sections]="keyRef" [latestProject]="userselectedProject">
                                        </app-nested-tree>



                                    </mat-expansion-panel>
                                </mat-accordion> --> 

                            </div>
                            

                            <ng-template #waitingload>
                              LoginFor Add Projects
                            </ng-template>
                        </ng-template>
                    </mat-tab>


                </mat-tab-group>

            </mat-grid-tile>

            
            <mat-grid-tile  colspan="4" rowspan='1' fxFlex.lt-sm="100vw">
                <div   style=" color:tomato ;background: #F2F3F5; height: 100%; " fxFlexFill
                    cdkScrollable>
                    <div (click)="openSearch()" style="padding: 0 5px; ">

                        <div [class.active]="toggleSearch">
                            <div style="text-align: center; font-size: 20px; margin-top: 6px;">
                                <button (click)="openSearch()" mat-icon-button>
                                    <mat-icon style="text-align: center;">search</mat-icon>
                                </button>
                                Search Tasks

                            </div>
                        </div>


                    </div>

                    <span fxLayout="row" fxLayoutAlign="space-between center" class="search-block mat-elevation-z4" [class.active]="toggleSearch">
                            <button mat-button mat-icon-button disabled>
                                <mat-icon>search</mat-icon>
                            </button>
                            <input type="text" placeholder="Search Task Name" matInput [formControl]="emailFormControl"
                                [matAutocomplete]="auto">
                            <button mat-button mat-icon-button (click)="searchClose()">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-autocomplete #auto="matAutocomplete" color="#216fdb">
                                <mat-option *ngFor="let option of optionsTasks" [value]="option">

                                    <div mat-line>{{option}}</div>

                                </mat-option>
                            </mat-autocomplete>
                        </span>

                </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="4" rowspan='1'>





                <mat-card fxLayoutAlign="space-between center" class="newTask">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Please Login For Create NewTask
                </mat-card>




            </mat-grid-tile>
            <mat-grid-tile class="outer" colspan="4" rowspan='7'>
                

                <div style="background: rgb(242, 243, 245)  ;      border: 3px solid rgb(242, 243, 245);"
                    *ngIf="profileRef | async as profiledetails ; else landingpage  "
                    fxLayoutAlign="space-between center" fxLayout="column">

                    <div style="height:40%;  float:inline-start;  " class="person">
                        <div id="main-card">
                            <div class="cover-photo">

                            </div>
                            <div class="photo">
                                <img src="{{profiledetails?.photoUrl}}" alt="">
                            </div>
                            <div class="content">
                                <h4 class="name">{{profiledetails?.profileName}}</h4>
                                <h4 class="card__text">{{profiledetails?.areaOfinterest}}<br>
                                    {{profiledetails?.location}}</h4>
                                <h6 class="email">
                                    <a href="mailto:{{profiledetails?.email}}">{{profiledetails?.email}}</a>
                                </h6>


                            </div>

                        </div>

                    </div>
                    <div class="">
                        <h2>{{profiledetails?.membershipType}}</h2>
                    </div>
                    <ul class="card__info">
                        <li>
                            <span class="card__info__stats">{{profiledetails?.numberOfProjects}}</span>
                            <span>posts</span>
                        </li>
                        <li>
                            <span class="card__info__stats">{{profiledetails?.likes}}</span>
                            <span>Likes</span>
                        </li>
                        <li>
                            <span class="card__info__stats">20</span>
                            <span>following</span>
                        </li>
                    </ul>
                  
                    <mat-divider></mat-divider>



                </div>
                <ng-template #landingpage style="background: white ; ">

                    

                        <div class="inner">

                            <div class="prod-right">
                                <img src="https://github.com/abhinanduN/codepen/blob/master/human-image.png?raw=true"
                                    class="prod-human-img" alt="prod" />
                            </div>
                        </div>
                   

                </ng-template>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-sidenav-content>
</mat-sidenav-container>