<div *ngIf="(Sections | async) as SectionsReady; else SectionsnotReady">
  <!--  <p>
    <a (click)="likes(SectionsReady.likes)" class="btn btn-counter" >
        {{SectionsReady.likes}}
  <span>&#x2764;</span>Like it</a>
  </p>-->
  <div fxLayout="column" fxLayoutGap="5%"
    style="width: auto; height:auto;overflow-y:auto; margin-left: 0px;margin-top: 0px;">
    <mat-card *ngIf="SectionsReady !== undefined" style="height:auto;width: auto;">
      <mat-card-header style="padding:5px; border:solid; border-color:black; background-color:#F2F3F5;">
        <span style="margin-left:0%;margin-right:5%;">
          <h3>{{latestProject}}</h3>
        </span>
        <mat-chip-list style="margin-right:30px;">

          <mat-chip style="margin-right:5px; background-color:#18e92a">
            <button class="button" (click)="NavigateTestcase()" style="color:primary; text-align: center;margin: 0px;"
              selected style="
        cursor: pointer; padding: 5px; ">
              View Tasks
            </button>
          </mat-chip>
        </mat-chip-list>

      </mat-card-header>

      <mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl">

        <!-- Without Children -->
        <mat-nested-tree-node *matTreeNodeDef="let node">

          <li>
            <div class="mat-tree-node">
              <button mat-icon-button *ngIf="(node.Description === 'Child' && node.Children.length === 0)">

                <mat-icon class="mat-icon-rtl-mirror" (click)="SelectedMainSection(node.Name)">
                  star
                </mat-icon>
              </button>
              <span style="margin-left:5%;margin-right:5%;">
                {{node.Name}}
              </span>
              <app-delete-node *ngIf="loggedInUid === userselectedProjectUid"  (deletedNode)="deleteNode($event)" [currentNode]="node"></app-delete-node>
              <app-edit-node *ngIf="loggedInUid === userselectedProjectUid"   (edittedNode)="editNode($event)" [masterdata]="nestedDataSource.data" [currentNode]="node">
              </app-edit-node>
              <app-add-node  [masterdata]="nestedDataSource.data" [isTop]="false" [latestaddProject]="Project"
                [currentNode]="node" [AlltheKeys]="AlltheKeys"
                *ngIf="!(node.Description === 'Child' && node.Children.length === 0)"></app-add-node>
             <!-- <mat-chip-list style="margin-right:30px;">

                <mat-chip style="margin-right:5px; background-color:#18e92a">
                  <button class="button" selected *ngIf="(node.Description === 'Child' && node.Children.length === 0)"
                    (click)="NavigateTestcase(node.Name)" style="color:primary; text-align: center;margin: 0px;"
                    selected style="
              margin-top:1% ;cursor: pointer; padding: 5px; ">
                    View Tasks
                  </button>
                </mat-chip>
              </mat-chip-list>-->
            </div>
          </li>
        </mat-nested-tree-node>

        <!-- With Children -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasNestedChild">
          <li class="example-tree-container">
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.Name">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{nestedTreeControl.isExpanded(node) ? 'indeterminate_check_box' : 'add_box'}}
                </mat-icon>

              </button>
              <span style="margin-left:5%;margin-right:5%;">
                {{node.Name}}
              </span>
              <app-add-node *ngIf="loggedInUid === userselectedProjectUid" [masterdata]="nestedDataSource.data" [isTop]="false" [latestaddProject]="Project"
              [currentNode]="node" [AlltheKeys]="AlltheKeys"></app-add-node>
              <app-edit-node *ngIf="loggedInUid === userselectedProjectUid" (edittedNode)="editNode($event)" [masterdata]="nestedDataSource.data" [currentNode]="node">
              </app-edit-node>
              <app-delete-node *ngIf="loggedInUid === userselectedProjectUid" (deletedNode)="deleteNode($event)" [currentNode]="node"></app-delete-node>
              
          
            </div>
            <ul>
              <div *ngIf="nestedTreeControl.isExpanded(node)">
                <ng-container matTreeNodeOutlet></ng-container>
              </div>
              <div *ngIf="!nestedTreeControl.isExpanded(node)" style="border:none;">
              </div>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
      <app-add-node  *ngIf="loggedInUid === userselectedProjectUid" [masterdata]="nestedDataSource.data" [isTop]="true" [latestaddProject]="Project"
        [currentNode]="node" [AlltheKeys]="AlltheKeys"></app-add-node>

      <button  *ngIf="loggedInUid === userselectedProjectUid" mat-raised-button color="warn" (click)="openBottomSheet()" style="margin:5%;">

        Change Order<mat-icon style="margin-left:5%;">
          add_box
        </mat-icon>
      </button>




    </mat-card>
  </div>
</div>
<ng-template #SectionsnotReady>

  <div>hi</div>
  <div *ngIf="(Sections | async) === null">
    <div fxLayoutAlign="center center" style="height:100vh;">
      <mat-spinner [diameter]="30" Style="margin-left:10px;"></mat-spinner>
    </div>
  </div>
  <div *ngIf="(Sections | async) === undefined">
    <mat-card class="list" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-around center">
      <mat-card-content class="empty-label">
        Do You want to Add Default Keys?</mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="CreateDefaultKeys()">CreateDefaultKeys</button>
      </mat-card-actions>
    </mat-card>

  </div>

</ng-template>