

<mat-grid-list cols="10" rowHeight="10vh">
  <mat-grid-tile colspan="2" rowspan='1' [style.background]="'#F2F3F5'">
      <h1 style="color: #e91010;" [style.background]="'#F2F3F5'">
          StepsWise
      </h1>
  </mat-grid-tile>
  <mat-grid-tile colspan="4" rowspan='1' [style.background]="'#F2F3F5'">

      <div fxlayout="row" class="wrapper">

          <div class="head" >
              <input id="task-input" type="text" placeholder="Enter a new Task">
              <button class="add-task" (click)="newTaskforUser()">Add</button>
          </div>
      </div>

  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan='1' [style.background]="'#F2F3F5'">

      <mat-toolbar style="padding: 0px; background: #F2F3F5;">


          <h1 style="color: #e91010;" [style.background]="'#F2F3F5'">
              StepsWise Tasking Tool
          </h1>
          <span fxFlex="grow"></span>

          <fa-icon (click)="logout()" class="fas faSignOutAlt fa-lg" [icon]="['fas', 'sign-out-alt']">
          </fa-icon>
      </mat-toolbar>
      <mat-divider></mat-divider>
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan='9' [style.background]="'#F2F3F5'">

      <div Style="height:calc(100vh - 64px);" fxLayoutAlign="center center">
          <button mat-raised-button color="warn" (click)="NavigateNextTestCases()"> TestCases Screen</button>
          <button mat-raised-button color="warn" (click)="NavigateNextLogOutScreen()"> LogOut Screen </button>

      </div>



  </mat-grid-tile>

  <mat-grid-tile colspan="4" rowspan='9' style="background: #F2F3F5; display: fixed;">
    


  </mat-grid-tile>



  <mat-grid-tile colspan="4" rowspan="9" [style.background]="'#F2F3F5'">


  </mat-grid-tile>
  <mat-grid-tile colspan="6" rowspan="9" [style.background]="'#F2F3F5'">



  </mat-grid-tile>


</mat-grid-list>

